<div class="main__landing">

  <div class="main__landing__spacer1"></div>

  <div class="main__landing__title">
    BadBlogs<span class="main__landing__title_highlight">.io</span>
  </div>

  <div class="main__landing__spacer1"></div>

  <%= link_to 'Sign Up', new_user_registration_path, :class => "main__landing__signup button_down" %>




</div>